@media screen and (max-width: 380px) and (min-width: 320px) {


/*      UPPER BELOW         */

.upperbelow{
    margin-top: 1px;
    display: flex;
    align-items: center;
}
.redlineupper{
    margin-top: 15px;
    margin-left: 2px;
    height: 120px;
    width: 5px;
    background-color: red;
}
.upperbelowbox{
    margin-top: 15px;
    font-weight: 550;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman';
    gap: 10px;
    font-size: 12px;
    height: auto;
    width: 70%;
}
#carupper{
    margin-right: -5px;
    height: 18vh;
}

/*              BY PRICE      */

.byprice{
    border-radius: 5px;
    font-size: 25px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 24px;
    background-color: #e2e9f4;
    height: 500px;
    width: 100%;
}
.bypriceupperletter{
    margin-top: 10px;
}
.upperbyprice{
    display: flex;
    overflow: auto;
    max-width: 95%;
    height: 70px;
    gap: 25px;
    margin-top: -10px;
}
.budget{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    height: 40px;
    min-width: 110px;
    border-radius: 7px;
    background-color: #3d405be9;
    color: #e2e9f4;
    border: 1px solid black;
}
.bycarpricedetailitem{
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 1px 5px 12px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    height: 160px;
    min-width: 155px;
}
.imgsec{
    margin-top: -15px;
    height: 60%;
    width: 95%;
    background-image: url(PIC/TRIAL.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#pricesec{
    font-weight: 600;
    font-size: 12px;
}


.bypricecardetail1{
    overflow-x: hidden;
    margin-top: 10px;
    text-transform: capitalize;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
}

/*             MORE FILTER      */

.formorefilter{
    font-size: 20px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.formorefilterbutton{
    color: rgb(245, 240, 232);
    border: none;
    font-size: 20px;
    background-color: rgb(94, 98, 161);
    border-radius: 30px;
    width: 130px;
    height: 40px;
}

/*          END PART      */


.end{
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 100px;
    color: #ffffff96;
    background-color: #050b20;
    height: 170px;
    width: 100%;
}
.slider-item img{
    height: 200px;
}
}


@media screen and (max-width: 397px) and (min-width: 380px) {


    /*      UPPER BELOW         */
    
    .upperbelow{
        margin-top: 1px;
        display: flex;
        align-items: center;
    }
    .redlineupper{
        margin-top: 15px;
        margin-left: 2px;
        height: 120px;
        width: 5px;
        background-color: red;
    }
    .upperbelowbox{
        margin-top: 15px;
        font-weight: 550;
        margin-left: 5px;
        display: flex;
        flex-direction: column;
        font-family: 'Times New Roman';
        gap: 10px;
        font-size: 12px;
        height: auto;
        width: 70%;
    }
    #carupper{
        margin-right: -5px;
        height: 20vh;
    }
    
    /*              BY PRICE      */
    
    .byprice{
        border-radius: 5px;
        font-size: 20px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        margin-top: 24px;
        background-color: #e2e9f4;
        height: 500px;
        width: 100%;
    }
    .bypriceupperletter{
        margin-top: 10px;
    }
    .upperbyprice{
        display: flex;
        overflow: auto;
        max-width: 95%;
        height: 70px;
        gap: 25px;
        margin-top: -10px;
    }
    .budget{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 18px;
        height: 40px;
        min-width: 110px;
        border-radius: 7px;
        background-color: #3d405be9;
        color: #e2e9f4;
        border: 1px solid black;
    }
    .bycarpricedetailitem{
        background-color: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.16) 1px 5px 12px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        display: flex;
        border-radius: 15px;
        flex-direction: column;
        height: 160px;
        min-width: 160px;
    }
    .imgsec{
        margin-top: -15px;
        height: 60%;
        width: 95%;
        background-image: url(PIC/TRIAL.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    #pricesec{
        font-weight: 600;
        font-size: 12px;
    }
   
    
    .bypricecardetail1{
        overflow-x: hidden;
        margin-top: 10px;
        text-transform: capitalize;
        gap: 30px;
        display: flex;
        flex-wrap: wrap;
    }
    
    
    
    /*             MORE FILTER      */
    
    .formorefilter{
        font-size: 21px;
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
    .formorefilterbutton{
        color: rgb(245, 240, 232);
        border: none;
        font-size: 20px;
        background-color: rgb(94, 98, 161);
        border-radius: 30px;
        width: 130px;
        height: 40px;
    }
    
    /*          END PART      */
    
    
    .end{
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        margin-top: 100px;
        color: #ffffff96;
        background-color: #050b20;
        height: 170px;
        width: 100%;
    }
    
    .slider-item img{
        height: 200px;
    }
    }
    

@media screen and (max-width: 421px) and (min-width: 397px) {


    /*      UPPER BELOW         */
    
    .upperbelow{
        margin-top: 1px;
        display: flex;
        align-items: center;
    }
    .redlineupper{
        margin-top: 15px;
        margin-left: 2px;
        height: 120px;
        width: 5px;
        background-color: red;
    }
    .upperbelowbox{
        margin-top: 15px;
        font-weight: 550;
        margin-left: 5px;
        display: flex;
        flex-direction: column;
        font-family: 'Times New Roman';
        gap: 10px;
        font-size: 12px;
        height: auto;
        width: 70%;
    }
    #carupper{
        margin-right: -5px;
        height: 22vh;
    }
    
    /*              BY PRICE      */
    
    .byprice{
        border-radius: 5px;
        font-size: 25px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        margin-top: 24px;
        background-color: #e2e9f4;
        height: 500px;
        width: 100%;
    }
    .bypriceupperletter{
        margin-top: 10px;
    }
    .upperbyprice{
        display: flex;
        overflow: auto;
        max-width: 95%;
        height: 70px;
        gap: 25px;
        margin-top: -10px;
    }
    .budget{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 18px;
        height: 40px;
        min-width: 110px;
        border-radius: 7px;
        background-color: #3d405be9;
        color: #e2e9f4;
        border: 1px solid black;
    }
    .bycarpricedetailitem{
        background-color: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.16) 1px 5px 12px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        display: flex;
        border-radius: 15px;
        flex-direction: column;
        height: 160px;
        min-width: 170px;
    }
    .imgsec{
        margin-top: -15px;
        height: 60%;
        width: 95%;
        background-image: url(PIC/TRIAL.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    #pricesec{
        font-weight: 600;
        font-size: 12px;
    }
   
    
    .bypricecardetail1{
        overflow-x: hidden;
        margin-top: 10px;
        text-transform: capitalize;
        gap: 30px;
        display: flex;
        flex-wrap: wrap;
    }

    /*             MORE FILTER      */
    
    .formorefilter{
        font-size: 22px;
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
    .formorefilterbutton{
        color: rgb(245, 240, 232);
        border: none;
        font-size: 20px;
        background-color: rgb(94, 98, 161);
        border-radius: 30px;
        width: 130px;
        height: 40px;
    }
    
    /*          END PART      */
    
    
    .end{
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        margin-top: 100px;
        color: #ffffff96;
        background-color: #050b20;
        height: 170px;
        width: 100%;
    }
    
    .slider-item img{
        height: 220px;
    }
    
}


@media screen and (max-width: 481px) and (min-width: 421px) {


    /*      UPPER BELOW         */
    
    .upperbelow{
        margin-top: 1px;
        display: flex;
        align-items: center;
    }
    .redlineupper{
        margin-top: 15px;
        margin-left: 2px;
        height: 120px;
        width: 5px;
        background-color: red;
    }
    .upperbelowbox{
        margin-top: 15px;
        font-weight: 550;
        margin-left: 5px;
        display: flex;
        flex-direction: column;
        font-family: 'Times New Roman';
        gap: 10px;
        font-size: 14px;
        height: auto;
        width: 70%;
    }
    #carupper{
        margin-right: -5px;
        height: 22vh;
    }
    
    /*              BY PRICE      */
    
    .byprice{
        border-radius: 5px;
        font-size: 25px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        margin-top: 24px;
        background-color: #e2e9f4;
        height: 500px;
        width: 100%;
    }
    .bypriceupperletter{
        margin-top: 10px;
    }
    .upperbyprice{
        display: flex;
        overflow: auto;
        max-width: 95%;
        height: 75px;
        gap: 25px;
        margin-top: -10px;
    }
    .budget{
        color: #e2e9f4;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 18px;
        height: 40px;
        min-width: 110px;
        border-radius: 7px;
        background-color: #3d405be9;
        border: 1px solid black;
    }
    .bycarpricedetailitem{
        background-color: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.16) 1px 5px 12px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        display: flex;
        border-radius: 15px;
        flex-direction: column;
        height: 160px;
        min-width: 160px;
    }
    .imgsec{
        margin-top: -15px;
        height: 60%;
        width: 95%;
        background-image: url(PIC/TRIAL.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    #pricesec{
        font-weight: 600;
        font-size: 12px;
    }
    
   
    
    .bypricecardetail1{
        overflow-x: hidden;
        margin-top: 10px;
        text-transform: capitalize;
        gap: 30px;
        display: flex;
        flex-wrap: wrap;
    }
    
    /*             MORE FILTER      */
    
    .formorefilter{
        font-size: 23px;
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
    .formorefilterbutton{
        color: rgb(245, 240, 232);
        border: none;
        font-size: 20px;
        background-color: rgb(94, 98, 161);
        border-radius: 30px;
        width: 130px;
        height: 40px;
    }
    
    /*          END PART      */
    
    
    .end{
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        margin-top: 100px;
        color: #ffffff96;
        background-color: #050b20;
        height: 170px;
        width: 100%;
    }
    
    .slider-item img{
        height: 220px;
    }
    
}
